<mat-toolbar color="bg-dark" >
    <img src="\assets\logo.png" height="50px" width="60px"  >
    <div >GE Travel</div>
    <div class="navbar" >
      <nav>
      <span><a href ="/reservations"> Reservation</a></span>
      <span><a href ="/expenses"> Expenses </a> </span>
      <span><a href ="/pcard"> Pcard </a></span>
      <span><a href ="/security"> Security </a></span>
      <span><a href ="/resources"> Resources </a></span>
      <span><a href ="/news"> News </a></span>
      <span><a href ="/policy"> T&L Policy </a></span>
      <span><a href ="/travel-insurance"> Travel Insurance </a></span>
    </nav>
    </div>
</mat-toolbar> 
<router-outlet></router-outlet>


